# Проигнорированы будут следующие файлы
# Не обрабатывать файлы, заканчивающиеся на _old
*.*_old
# Не обрабатывать файлы, заканчивающиеся на _backup
*.*_backup
# Не обрабатывать файл 
img/Thumbs.db
# Не обрабатывать файл DS_Store
# img/.DS_Store
.DS_Store
/tmp